*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.preloader{
    animation: preloader 8s;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #031926;
    z-index: 99;
}

.preloader h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.85rem;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    letter-spacing: .25rem;
    margin-bottom: 0.5rem;
    -webkit-text-stroke: 1px #468189;
}

.preloader h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #468189;
    -webkit-text-stroke: 0px #468189;
    border-right: 1px solid #468189;
    overflow: hidden;

    animation: textPric 5s linear ;
}

.preloader p{
    color: #468189;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
}

.preloader p span{
    position: absolute;
    right: 0;
    width: 0;
    background: #031926;
    font-family: 'Inconsolata', monospace;
    animation: textoAnimado 5s alternate steps(25);
}

@keyframes preloader {
    0%{ bottom: 0;}
    70%{ bottom: 0%; }
    100%{ bottom: 100%;}
}

@keyframes textoAnimado {
    from {width: 100%;}
    to{width: 0;}
}

@keyframes textPric {
    0%, 10%, 100% {width: 0%;}
    70%, 90%{width: 100%;}
}

/* Cuerpo del sitio */
body{
    background: #f0f0f0;
    text-align: center;
}

.content-web{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem 0;
    width: 88%;
    margin: 0 auto;
}

header img{
    width: 4rem;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-flex;
}

header nav ul li a{
    font-family: 'Roboto';
    color: #031926;
    font-size: .75rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

header nav ul li a::before{
    font-family: 'Inconsolata', monospace;
    color: #468189;
    font-size: .9rem;
    content: '01 ';
    font-weight: 700;
}

header nav ul li:nth-child(2) a::before{
    content: '02 ';
}

header nav ul li:nth-child(3) a::before{
    content: '03 ';
}

header nav ul li:nth-child(4) a::before{
    content: '04 ';
}

#contacto-header{
    font-family: 'Roboto';
    color: #031926;
    font-size: .75rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #468189;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width: 90%;
    bottom: 3rem;
    z-index: -9;
}

.redes div ul{
    list-style: none;
}

.redes div ul li{
    text-align: center;
    padding: 0.2rem 0;
}

.redes div ul li img {
    width: 1.5rem;
}

.redes p{
    color: #468189;
    font-family: 'Inconsolata';
    font-size: 1rem;
    font-weight: 500;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.redes div:first-child{
    position: relative;
}

.redes div:first-child::before{
    content: '';
    width: 2px;
    height: 80px;
    background: #468189;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.sobre-mi{
    width: 88%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre-mi div{
    width: 35rem;
    text-align: left;
}

.sobre-mi img{
    width: 23rem;
}

.sobre-mi div h1{
    font-family: 'Roboto';
    color: #031926;
    font-size: 3rem;
    font-weight: 700;
}

.sobre-mi div h2{
    color: #468189;
    font-family: 'Inconsolata';
    font-weight: 500;
    margin: 0.5rem 0 2rem;
}

.sobre-mi div p{
    font-size: 1rem;
    font-family: 'Roboto';
    line-height: 1.5rem;
}

.conocimientos-content{
    width: 88%;
    margin: 0 auto;
    padding: 0 0 9rem;
}

.conocimientos-content h2{
    font-family: 'Roboto';
    color: #031926;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    border-bottom: 2px solid #468189;
    width: 15rem;
    padding: 0.5rem 0;
    margin-bottom: 4rem;
}

.conocimientos-content h2 span{
    color: #468189;
    font-family: 'Inconsolata';
    font-weight: 500;
}

.conocimientos-content div{
    text-align: left;
}

.conocimientos-content ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.conocimientos-content ul li{
    width: 9rem;
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 20px 20px 60px #cccccc, -20px -20px 60px #ffffff;
    transition: 1s ease;
}

/* .conocimientos-content ul li:hover{
    box-shadow: 20px 20px 25px #b1b1b1, -20px -20px 60px #ffffff;
} */

.conocimientos-content ul li h4{
    color: #468189;
    font-family: 'Inconsolata';
    font-weight: 700;
    margin: 1rem 0 0;
    font-size: 1rem;
}

.conocimientos-content ul li img{
    width: 4rem;
}

.experiencia-content{
    width: 88%;
    margin: 0 auto;
    padding: 0 0 9rem;
}

.experiencia-content > h2{
    font-family: 'Roboto';
    color: #031926;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    border-bottom: 2px solid #468189;
    width: 13rem;
    padding: 0.5rem 0;
    margin-bottom: 4rem;
}

.experiencia-content > h2 span{
    color: #468189;
    font-family: 'Inconsolata';
    font-weight: 500;
}

.experiencia-content > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.experiencia-content ul{
    list-style: none;
    width: 25rem;
}

.experiencia-content ul li{
    border-bottom: 2px solid #468189;
}

.experiencia-content ul li:last-child{
    border-bottom: 0px solid #468189;
}

.experiencia-content ul li a{
    color: #468189;
    font-family: 'Inconsolata';
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
    padding: 1rem 1rem;
    display: block;
}

.experiencia-content article{
    border-left: 2px solid #468189;
}

.experiencia-content article div{
    text-align: left;
    padding: 2rem;
    display: none;
}

.experiencia-content article div h2{
    font-family: 'Roboto';
    color: #031926;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    padding: 0 0 0.5rem 0;
}

.experiencia-content article div h3{
    color: #468189;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding: 0 0 1rem 0;
    font-family: 'Inconsolata';
}

.experiencia-content article div p{
    color: #031926;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0 0 1rem 0;
    font-family: 'Roboto';
    line-height: 1.5rem;
}

.experiencia-content article div p span{
    color: #468189;
    font-family: 'Inconsolata';
}

.experiencia-content article div.content.active{
    display: block;
}
